# mysql settings
mysql:
  # uncomment this (and correct the path) if you're using amarok with embedded mysql
  # socket: ~/.kde4/share/apps/amarok/sock
  host: localhost
  database: amarok_database
  username: amarok_username
  password: amarok_password

# lastfm settings
lastfm:
  user: your_lastfm_username
  api_key: your_lastfm_api_key
